.header{
    background-color: white;
    display: flex;
    margin: 0px;
    padding: 5px 5x;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 100;
    box-shadow: 4px 4px 6px -5px rgba(0, 0, 0, .75);
}
.header__input{
    display: flex;
}
.header__input{
    background-color: #eff2f5;
    border: 20px solid #eff2f5;
    border-radius: 999px;
    align-items: center;
    margin-left: 5px;
    height: 40px;
    align-self: center;
    
}
.header__input>input{
    border: none;
    background-color: transparent;
    outline:none;
    
}
.header__left>img{
    height: 40px;
    align-self: center;
}
.header__left{
    display: flex;
}
.header__center{
    display: flex;
    justify-content: center;
    flex: 1;
}
.header__option{
   color: gray;
   display: flex;
   align-items: center;
   padding: 0px 30px;
}
.header__option:hover{
color: #2e81f4;
cursor: pointer;
background-color: #eff2f5;
}
.header__option--active{
border-bottom:3px solid #2e81f4;
}

.header__right{
    display: flex;
}
.header__info{
    display: flex;
    align-items: center;
}
.header__info>h5{
    margin-left: 10px;
    
}
