.messageSender{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,.75);
    padding: 10px;
    width: 100%;
}
.messageSender__header{
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding: 15px; 
}

.messageSender__header>form{
    flex: 1;
    display: flex;
}

.messageSender__header > form > input{
    margin: 0 10px;
    border: none;
    outline: none;
    border-radius: 9999px;
    background-color: #eff2f5;
    padding: 5px 20px;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,.75); 
}
.messageSender__input{
    flex: 1;
}
.messageSender__header > form > button{
display: none;
}
.messageSender__bottom{
margin-top: 10px;   
display: flex; 
justify-content: space-evenly;
}
.messageSender__bottom--option:hover{
    background-color: #eff2f5;
    border-radius: 9999px;
   
}
.messageSender__bottom--option{
    padding: 10px;
    display: flex;
}
.messageSender__bottom--option>h5{
    margin-left: 7px;
    font-size: medium;
}
.messageSender__bottom--option>h5:hover{
    cursor: pointer;
}
