.post{
    background-color: white;
    width: 100%;
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: 0px 5px 7px -7x rgba(0,0,0, .75);
}
.post__top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
   
}
.post__top--avatar{
    margin-right: 10px;
}
.post__top--info{
   
}
.post__top--info > h3{
   font-size: medium;
   margin-bottom: -3px;
  
}
.post__top--info > p{
    font-size: small;
    color: gray;
    margin-bottom: -1px;
}
.post__middle{
    padding: 10px;
}
.post__image > img {
    width: 100%;
}

.post__options{
    margin-top: 5px;
    display: flex;
    padding: 10px;
    border-top: 1px solid lightgray;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;  
}
.post__option{
    display: flex;
   justify-content: center;
   padding: 5px;
   flex: 1;
   align-items: center;
}
.post__option > .MuiSvgIcon-root{
margin-right: 10px;
}
.post__option > p{
    margin-left: 10px;
   
}
.post__option:hover{
    background-color: #eff2f5;
    border-radius:10px;
}
